*  {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero {
    background-color: rgb(25, 23, 34);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profil {
    width: 350px;
    height: 350px;
    position: relative;
    left: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-left: 8%;
    padding-right: 8%;
}



.jumbotron {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Secular One', sans-serif;
}

span {
    color: deeppink;
}

#gallery {
    background-color: #02131f
}

#footer {
    background-color: blueviolet
}

section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.carousel-item img {
    height: 500px;
}

#about {
    background-color: #273036;
    color: white;
}